<div class="col-4">
  <div class="form-floating mb-3">
    <input
      type="text"
      disabled
      class="form-control"
      id="floatingInput"
      value="{{this.subjectNo}}"
      placeholder="Subject No"
      name="subject_no"
      required
    />
    <label for="floatingInput">Subject No.</label>
  </div>
</div>

<div class="col-8">
  <div class="form-floating mb-3">
    <input
      type="text"
      disabled
      class="form-control"
      id="floatingInput"
      value="{{this.subjectTitle}}"
      placeholder="Subject Title"
      name="subject_title"
      required
    />
    <label for="floatingInput">Subject Title</label>
  </div>
</div>

<div class="col-12">
  <div class="form-floating mb-3">
    <input
      type="number"
      disabled
      class="form-control"
      id="floatingInput"
      value="{{this.transcriptLoad}}"
      placeholder="Transcript Load"
      name="Transcript_Load"
      required
    />
    <label for="floatingInput">Transcript Load</label>
  </div>
</div>

<div class="col-12">
  <div class="form-floating mb-3">
    <input
      type="number"
      disabled
      class="form-control"
      id="floatingInput"
      value="{{this.payingLoad}}"
      placeholder="Paying Load"
      name="paying_load"
      required
    />
    <label for="floatingInput">Paying Load</label>
  </div>
</div>

<div class="col-12">
  <div class="form-floating mb-3">
    <input
      type="number"
      disabled
      class="form-control"
      id="floatingInput"
      value="{{this.teachingLoad}}"
      placeholder="Teaching Load"
      name="teaching_load"
      required
    />
    <label for="floatingInput">Teaching Load</label>
  </div>
</div>

<div class="col-12 d-grid">
  <button class="btn btn-primary" type="submit">Submit</button>
</div>