  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" readonly class="form-control" id="floatingInput" value="{{this.subjectTitle}}" placeholder="Subject Title" name="subject_title">
      <label for="floatingInput">Subject Title</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" readonly class="form-control" id="floatingInput" value="{{this.subjectNo}}" placeholder="Subject Number" name="subject_number">
      <label for="floatingInput">Subject Number</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" readonly class="form-control" id="floatingInput" value="{{this.transcriptLoad}}" placeholder="Transcript Load" name="transcript_load">
      <label for="floatingInput">Transcript Load</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" readonly class="form-control" id="floatingInput" value="{{this.payingLoad}}" placeholder="Paying Load" name="paying_load">
      <label for="floatingInput">Paying Load</label>
    </div>
  </div>
    <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" readonly class="form-control" id="floatingInput" value="{{this.teachingLoad}}" placeholder="Teaching Load" name="teaching_load">
      <label for="floatingInput">Teaching Load</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button onclick="deleterecord('/subjects/deleterecord/',{{this.subjectID}},'Delete Subject')" class="btn btn-danger" >Delete Subject</button>
  </div>