<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Students">Students Management System</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Student</li>
  </ol>
</nav>

<div class="view-user p-5">
  {{#each rows}}
    <div class="row mb-5">
      <div class="col text-center">
        <h3>{{this.StudentFirstName}} {{this.studentLastname}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Middle Name</th>
              <th scope="col">Last Name</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{this.studentID}}</th>
              <td>{{this.StudentFirstName}}</td>
              <td>{{this.studentMiddleName}}</td>
              <td>{{this.studentLastname}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  {{/each}}
</div>